.post__image {
  width: 100%;
  object-fit: contain;
}
.post__text {
  font-weight: normal;
  padding: 20px;
}

.post__header {
  display: flex;
  align-items: center;
  padding: 20px;
}

.post__avatar {
  margin-right: 10px;
}

.post {
  background-color: white;
  max-width: 750px;
  border-bottom: 1px solid lightgray;
  border-top: 1px solid lightgray;
  margin-bottom: 45px;
}
.post__commentBox {
  display: flex;
  margin-top: 20px;
}
.post__input {
  flex: 1;
  border: none;
  padding: 10px;
  border-top: 1px solid lightgray;
}
.post__button {
  flex: 0;
  border: none;
  border-top: 1px solid lightgray;
  background-color: transparent;
}
.iconContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;
}
.iconButton {
  background-color: transparent;
  border: 0px;
}
