.login {
  display: flex;

  flex-direction: column;
}

.loginContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
}

.error {
  color: red;
}
