* {
  margin: 0;
}

.app {
  background-color: #fafafa;
  height: 100vh;
}

.app__header {
  background-color: white;
  padding: 20px;
  border: 1px solid lightgray;
  object-fit: contain;
}

.app__headerImage {
  object-fit: contain;
  background-color: white;

  width: 10%;
  height: 3%;
}

.modal_view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbar_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.app__signup {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.input {
  margin: 10px;
  border: 0px solid black;
}

.app__headerImage2 {
  object-fit: contain;
  height: 25%;
  width: 10%;
}
.app__posts {
  padding: 20px;
  margin-left: 20px;
  padding-left: 20px;
}
.app__postRight {
  margin-left: 20px;
}
.passwordcontainer {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}
